.idea/
.idea
# ==========================================
# 🐍 Django & Python (Backend)
# ==========================================

# Virtual Environments
venv/
.venv/
env/
ENV/
pyenv/

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local Django settings / sensitive data
db.sqlite3
db.sqlite3-journal
geobench/.env
*.env
local_settings.py

# Media and Static directories (uploaded user files)
/media/
/staticfiles/

# Logs
*.log


# ==========================================
# ⚛️ React & Node.js (Frontend)
# ==========================================

# Dependency directories
node_modules/
jspm_packages/

# Production build outputs
dist/
build/

# Local environment variables
geobench-frontend/.env
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# ==========================================
# 💻 Operating System & IDEs
# ==========================================

# Windows thumbnails and metadata
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini

# macOS metadata
.DS_Store
.AppleDouble
.LSOverride

# Code editors and IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
/geobench-frontend/public/img.png
